<h2>Easymed</h2>
<p>
  Nós desenvolvemos um sistema de pedidos automatizado</p>
  <p>Voltado para pessoas que cuidam de outras pessoas</p>
  <p>Através da aquisição de produtos sem a necessidade de ir à loja física</p>
  <p><%= Time.now %>
    <%= link_to 'Clientes', controller: 'clientes' %>
    <%= link_to 'Pedidos', controller: 'pedidos' %>
</p>
